#content h1 {font-family: Open Sans, sans-serif; font-weight: 700;}
body {background: #fff; }
.script {font-family: Leckerli One, serif;}
h3 {font-size: 26px;}
h4 {font-family: Open Sans, sans-serif;}